name: Continuous Integration
on:
  push:

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-22.04
    timeout-minutes: 20

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v3.3.0

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: '1.25'
          cache: false

      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --verbose

  tests:
    name: Tests
    runs-on: ubuntu-22.04
    timeout-minutes: 20

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v3.3.0

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: '1.25'

      - name: Run test suite
        run: |
          go test -bench . -cover -v ./...
